@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.work-sans-font {
    font-style: normal;
    }



/* share code */

/* dark-1 */

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.gray{
    background-color: #FF900E;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    color: white;
}



/* share end */


/* nav start */
.nav-section{

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
   
   
}
    
    
    
.nav-title{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-description{
    font-size: 1.3rem;
    font-weight: 400;
    display: flex;
    gap: 30px;
 
}

.nav-list{
 list-style: none;


}

/* banner style start */
.banner-title{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 20px ;

}

.banner-description{
    font-size: 1rem;
    font-weight: 400;
    padding:  0 50px;
}

.banner-btn{
    font-size: 1.4rem;
    margin-top: 20px;
}
.banner{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 800px;
margin: 0 auto;
text-align: center;
padding-bottom: 30px;

}


.banner-image{
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 8px;
    max-width: 1440px;
    margin: 0 auto;
}


.banner-image, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-setion-color{
    background-color: rgba(255, 144, 14, 0.1);
    padding-bottom: 40px;
}


/* banner style end */

/* teams section start */
.teams-parent{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    gap: 130px;
    align-items: center;
   
}



.img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 10px;

}

.team-title{
    font-size: 3rem;

}

.team-description{
font-size: 1rem;
}
.gray-span{
    color: #FF900E;
}



/* teams section end */


/* feature style start */
.features{
    max-width: 1440px;
    margin: 0 auto;
  

}

.feature-image{
    margin-top: 30px;
}

.feature-description{
    margin:20px;
}

.feature-titles{
    font-size: 3rem;
    border-left: 5px solid #FF900E ;
  padding-left: 20px;
  
}

.featuire-title-parent{
    display: flex;
    gap: 140PX;
}


.feature-collumn{
    display: block;
    max-width: 586px;
    
}


.card-title{
    font-size: 1.5rem;
    color: #424242;

}

.card-description{
    color: #727272;
}

.feature-card{
    box-shadow: 0 10px 30px  rgba(0, 0, 0, 0.06);
    padding: 20px;
    border-radius: 10px;
    max-width: 586px;
}

.feature-btn{
    background-color: #FF900E;
    padding: 45px 50px ;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: -100px;
    z-index: 1;

}

.learge-btn{
    font-size: 4rem;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
   
}

.small-btn{
    font-size: 1.5rem;
    color: white;
    margin-top: 15px;
}

/* feature style end */

/* some facts section start */

.facts-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
  
 
}

.facts-title{
    font-size: 3rem; 
}

.box-container{
margin-top: 50px;
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 70px;
margin-left: 50px;
margin-top: 90px;

}

.box-title{
    font-size: 3rem;
    color:#424242;
    font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;

}

.box-description{
    margin-top:5px;
    font-size: 1.3rem;
    color: #727272;
    font-weight: 600;
  
    
}



.box-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #FF900E ;
    max-width: 240px;
    max-height: 240px;
  padding-top: 20px;
  border-radius: 10px;
 
}


/* some facts section end */

.sponsports-container{
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 130px;
   
}

.sponsport-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.sponsport-title {
    margin-bottom: 10px;
    font-size: 3rem; 
}

.facts-description{
    margin-top: 10px;

}

.sponsport-image{
display: flex;
    gap: 150px;
    margin-bottom: 80px;
    filter: grayscale(100%);
}


.sponsors-description{
    margin-bottom: 70px;

}


/* responsive start */

@media screen and (max-width:576px) {

 .banner,  .nav-section{
    flex-direction: column;
 }

 .banner-image>img{
    width: 100%;
 }

   .teams-parent{
 
    flex-direction: column;
   }

   .img-container{
    grid-template-columns: repeat(1, 1fr);
   }
 

   .featuire-title-parent{
    flex-direction: column;
   }

   .feature-image>img{
    width: 100%;
   }


   .box-container {
    grid-template-columns: repeat(1, 1fr);
   align-items: center;
  
   }

    .sponsport-image{
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
   }
    
}


/* mediyam device responsive start */



@media screen  and (min-width:577px) and (max-width:992px){


    .banner{
        flex-direction: column;
    }

    .banner-image>img{
        width: 100%;
    }


    .teams-parent  {
        flex-direction: column;

    }
    .featuire-title-parent, .feature-collumn{
        flex-direction: column;
        margin: 0 auto;
    }
 .feature-image>img{

    width: 100%;
   
 }

.box-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
 .facts-section{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 }

 .sponsport-image{
  align-items: center;
   flex-direction: column;

 }

    
}